<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
        <pluginGroup>org.apache.maven.plugins</pluginGroup>
        <pluginGroup>org.codehaus.mojo</pluginGroup>
        <pluginGroup>maven</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>byu-release-repo</id>
            <username>${env.MVN_DEPLOYMENT_USER}</username>
            <password>${env.MVN_DEPLOYMENT_PASS}</password>
        </server>
        <server>
            <id>byu-snapshot-repo</id>
            <username>${env.MVN_DEV_USER}</username>
            <password>${env.MVN_DEV_PASS}</password>
        </server>
        <server>
            <id>thirdparty</id>
            <username>${env.MVN_DEPLOYMENT_USER}</username>
            <password>${env.MVN_DEPLOYMENT_PASS}</password>
        </server>
        <server>
            <id>jboss-release-repo-mirror</id>
            <username>${env.MVN_DEV_USER}</username>
            <password>${env.MVN_DEV_PASS}</password>
        </server>
        <server>
            <id>byu-plugin-release-repo</id>
            <username>${env.MVN_DEPLOYMENT_USER}</username>
            <password>${env.MVN_DEPLOYMENT_PASS}</password>
        </server>
        <server>
            <id>byu-plugin-snapshot-repo</id>
            <username>${env.MVN_DEV_USER}</username>
            <password>${env.MVN_DEV_PASS}</password>
        </server>
        <server>
            <id>thirdparty-plugin-repo</id>
            <username>${env.MVN_DEPLOYMENT_USER}</username>
            <password>${env.MVN_DEPLOYMENT_PASS}</password>
        </server>
    </servers>
    <mirrors>
    </mirrors>
    <profiles>
        <profile>
            <id>byu-property-overrides</id>
            <properties>
            </properties>
        </profile>
        <profile>
            <id>byu-default-profile</id>
            <repositories>
                <repository>
                    <id>thirdparty</id>
                    <url>${env.MVN_REPO_BASE}/content/groups/thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>byu-release-repo</id>
                    <name>BYU Release Repository</name>
                    <url>${env.MVN_REPO_BASE}/content/repositories/byu-release-repo</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>byu-snapshot-repo</id>
                    <name>BYU Snapshot Repository</name>
                    <url>${env.MVN_REPO_BASE}/content/repositories/byu-snapshot-repo</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>jboss-release-repo-mirror</id>
                    <name>JBoss Release Repository</name>
                    <url>${env.MVN_REPO_BASE}/content/repositories/jboss-release-repo</url>
                    <releases>
                        <enabled>true</enabled>
                        <checksumPolicy>fail</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>byu-plugin-release-repo</id>
                    <name>BYU Release Repository</name>
                    <url>${env.MVN_REPO_BASE}/content/repositories/byu-release-repo</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>byu-plugin-snapshot-repo</id>
                    <name>BYU Snapshot Repository</name>
                    <url>${env.MVN_REPO_BASE}/content/repositories/byu-snapshot-repo</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>thirdparty-plugin-repo</id>
                    <name>Third Party Plugin Release Repo</name>
                    <url>${env.MVN_REPO_BASE}/content/groups/thirdparty</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>byu-default-profile</activeProfile>
        <activeProfile>byu-property-overrides</activeProfile>
    </activeProfiles>
</settings>